<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

    {% block nav %}

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/welcome">HOME</a>
            </li>
            {{ render(controller('App\\Controller\\NavController::items')) }}
        </ul>

    {% endblock %}

    <div class="container">

        <header>{% block header %}{% endblock %}</header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </div>

    </body>
</html>
