.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

a{
    text-decoration: none !important;
}

.title-of-page{
    font-size: 14px;
    color:darkgray;
    font-weight:300;
}

.content-box{
    margin-top:80px;
}

.entity-name{
    padding-bottom:20px;
}

.entity-field{
    text-transform: uppercase;
    font-weight:700;
    font-size: 14px;
}

.row .entity-field{
    padding-bottom: 20px;
}

.entity-list{
    list-style: none;
}

.entity-list-item{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom:1px solid lightgrey;
}

.entity-list-item .btn{
    float:right;
}

.main-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: royalblue;
    background-position: center !important;
    background-size: cover !important;
}

.gallery-item{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: royalblue;
    background-position: center !important;
    background-size: cover !important;
}