{% block nav %}

        {% for product_category in categories %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_category_show', {'id': product_category.id}) }}">{{ product_category.name }}</a>
            </li>

        {% endfor %}

{% endblock %}