{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block header %}

    <p class="title-of-page">Wishlist</p>

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="jumbotron">
        <h1 class="entity-name">Your wishlist.</h1>

        <div class="row">
            <div class="col entity-field"></div>
            <div class="col entity-field">Name</div>
            {#<div class="col entity-field">Description</div>#}
            {#<div class="col entity-field">Created at</div>#}
            {#<div class="col entity-field">Last modified date</div>#}
            {#<div class="col entity-field">Category</div>#}
            <div class="col entity-field">Actions</div>
        </div>

        {% for product in products %}


        <div class="row entity-list-item">

            <div class="col">
                <div class="main-image"></div>
            </div>

            <div class="col">{{ product.name }}</div>

            <div class="col"></div>


        </div>
            {% else %}

            <p>Your wishlist is empty, please return to categories to continue shopping.</p>

        {% endfor %}

    </div>
{% endblock %}
