{#
This file shows form which is responsible for creating new products
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block header %}

    <p class="title-of-page">Registration</p>

{% endblock %}

{% block body %}

    <div class="jumbotron">

        <h1 class="entity-name">Register</h1>

        <br>

        {{ include('registration/_register_form.html.twig') }}

    </div>

{% endblock %}