{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Welcome</h1>

    {{ "now"|date("m/d/Y") }}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut pellentesque odio. Cras viverra felis non sapien fringilla blandit. Phasellus ac sagittis dolor. In pretium imperdiet dolor vel ornare. In risus nisl, pretium finibus mauris sed, pretium lacinia nibh. Aenean luctus interdum risus vel euismod. Nunc malesuada sem nec sem convallis imperdiet. Pellentesque nec urna nunc. Aenean in fermentum mauris, eu consectetur felis. Nunc ante leo, scelerisque id libero id, mollis sagittis ex. Maecenas lacinia justo lorem, ut lobortis ipsum tincidunt in. Nunc pulvinar ipsum ut blandit sollicitudin. Cras eu lorem rhoncus, mollis urna et, bibendum tellus. Aliquam elementum accumsan leo nec ullamcorper. Vivamus ac quam nulla. Quisque sed tellus hendrerit, luctus nunc in, feugiat leo.</p>


</div>
{% endblock %}
