{#
This file shows form which is responsible for creating new products
@category View
@Package Virtua_Internship
@copyright Copyright (c) 2018 Virtua (http://www.wearevirtua.com)
@author Maciej Skalny contact@wearevirtua.com
#}

{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block header %}

    <p class="title-of-page">Products / New product</p>

{% endblock %}

{% block body %}

    <div class="jumbotron">

    <h1 class="entity-name">Create new product</h1>

    <br>

        {{ include('product/_form.html.twig') }}

    <br>

        <a href="{{ path('product_index') }}"><button class="btn btn-primary">Back to list</button></a>

    </div>

{% endblock %}